# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Fetch_Scripts/__pychache__
.venv

data
*_data/*_download
*_data/*_logs

cinder-app


grib_to_json/download_test/*.grib2
grib_to_json/download_test/*.grib2
