# This file may be used to create an environment using:
# $ conda create --name <env> --file requirements.txt
# platform: win-64
# created-by: conda 25.5.1
cartopy
certifi
cffi
charset-normalizer
colorama
contourpy
cycler
distro
fonttools
frozendict
h2
hpack
hyperframe
idna
jsonpatch
jsonpointer
kiwisolver
matplotlib
numpy
orjson
packaging
pandas
pillow
platformdirs
pluggy
psutil
pycparser
pygrib 
pyparsing
pyproj
pyshp
pyside6 
python-dateutil
python-tzdata
pytz
requests
ruamel.yaml
ruamel.yaml.clib
setuptools
shapely
simdjson
six
tornado
tqdm
truststore
unicodedata2
urllib3
wheel
win_inet_pton
xarray